body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #f7f7f7;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(63,65,75);
  background: linear-gradient(90deg, rgba(63,65,75,1) 0%, rgba(59,102,184,1) 68%, rgba(83,156,182,1) 100%);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.particles-js {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

header {
  background-color: 'transparent'!important
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
  margin-top: 5%;
}

.icons {
  display: flex;
  justify-content: flex-start;
}

.fab {
  color: whitesmoke;
  margin: 0px 10px 0px 10px;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-github:hover {
  color: #242923;
}

.icon-container {
  margin: 0;
  margin-top: 5%;
	padding: 0;
  display: flex;
  justify-content: center;
  flex: 1;
}